:root {
    --bg-beige: #FAF7EF;
    --bg-brown: #B9885A;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.contain{
    width: 100%;
    max-width: 430px;  
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
    background: var(--bg-beige);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* スタート画面 */
.start-header {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 100;
}
.header-icon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.header-icon.left {
    margin-left: 15px; 
    margin-right: auto;
}
.header-icon.right {
    margin-top: 15px;
    margin-right: 15px; 
}
.header-icon img {
    width: 28px;
    height: auto;
}
.title{
    font-size: 2rem;
}
.people{
    width: 80%;
}
.startBtn{
    margin-top: 10px;
    width: 220px;
    height: 54px;
    background: var(--bg-brown);
    border-radius: 10px;
    color: #fff;
    font-size: 2.4rem;
    border: none;
    cursor: pointer;
}


#startScreen {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* 質問画面のヘッダー */
#quiz-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

/* 結果画面のレイアウト */
.resultWrap{
    width: 100%;
    height: auto;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.answerTitleWrap{
    line-height: 1.8;
    font-size: 1.6rem;
}
.answerTitle{
    font-size: 3.2rem;
}
.imageWrap{
    width: 100%;
    padding: 20px 0 20px;
}

.imageWrap img{
    width: 40%;
    height: 40%;
    object-fit: cover;
}
.colorSelector {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}
.colorDot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    border: 0.5px solid #000000; 
    transition: transform 0.1s ease;
    display: inline-block;
}
.answer-Sub-Title{
    font-size: 2rem;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.answerText{
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.6;
}
/* ボタン */
.ResultBtnContain{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.resultBtn{
    margin-top: 40px;
    font-size: 1.6rem;
    color: #fff;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.product{
    background: #8B6644;
}
.share{
    background: var(--bg-brown);
}
.shareIcon{
    width: 25px;
}

/* 質問画面 */
.questionNumber{
    font-size: 3.2rem;
    padding-bottom: 40px;
}
h2{
    font-size: 1.6rem;
    font-weight: normal;
}
.questionView{
    text-align: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questionTitle{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

/* クイズ画面全体の箱 */
#quizScreen{
    position: relative;
    min-height: 500px;
    padding-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#fixed-Action-Area{
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 65px;
}
.questionBtn{
    width: 120px;
    height: 50px;
    min-width: 120px;
    max-width: 120px;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
.noBtn{
    background: #5A8BB9;
}
.yesBtn{
    background: #B95A5A;
}

#resultScreen {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalInner {
    background: var(--bg-beige);
    width: 90%;
    max-width: 380px;
    padding: 50px 30px;
    border-radius: 12px;
    border: 1px solid #D9A07E;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.modalTitle {
    font-size: 2.8rem;
    font-weight: normal;
    color: #000;
    margin: 0 0 25px 0;
}
.modalDesc {
    font-size: 1.4rem;
    color: #333;
    margin: 0 0 45px 0;
}


.modalButtons {
    display: flex;
    justify-content: center;
    gap: 30px; 
}


.modalBtn {
    width: 120px;
    height: 46px;
    font-size: 2rem;
    color: #fff;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.cancelBtn {
    background: #808080;
}


.okBtn {
    background: var(--bg-brown);
}